
/* main */
.main {
	height: 90%;
	z-index: 10;
}

.main>.datail {
	padding: 50px 38px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main>.datail>div {
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	flex: 1;
	height: 600px;
}

.main>.datail>div:first-child {
	height: 600px;
	border: 1px solid #eeeeee32;
}

.main>.datail>div:first-child>div {
	padding: 30px;
	height: 500px;
}

.main>.datail>div:first-child>div img {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	object-fit: cover;
	background-color: #ccc;
}

.main>.datail>div:first-child>form {
	height: 100px;
}
.main>.datail>div:first-child>form > button{
	height: 50px;
	font-size:1rem;
	border-radius:10px;
	background-color: var(--color-nav-bg); 
	border: 5px solid transparent;
	color: var(--color-white);
	text-align: center;
	text-decoration: none;
	display: inline-block;
	transition: border-color 0.2s ease, color 0.4s ease-in-out;
}

.main>.datail>div:first-child>form > button:hover {
	border-color: white;

}

.main>.datail>div:last-child {
	height: 600px;
	background-color: #eeeeee50;
	color: white;
	text-align: left;

}

.main>.datail>div:last-child div {
	padding: 20px;
}
.main>.datail>div:last-child div div:last-child {
	padding-bottom: 0;
}
.main>.datail>div:last-child div div:first-child {
	padding-top: 0;
}



/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width: 1023px) {
	
	.main>.datail {
		padding: 20px;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.main>.datail>div {
		display: flex;
		flex-direction: column;
		border-radius: 5px;
		flex: 1;
		height: 300px;
		width: 500px;
	}

	.main>.datail>div:first-child {
		border: 1px solid #eeeeee32;
		display: flex;
		flex-direction: column;
		height: 300px;
	}

	.main>.datail>div:first-child>div:first-child {
		padding: 20px;
		flex: 1;
		height: 300px;
	}

	.main>.datail>div:first-child>div:first-child img {
		width: 100%;
		height: 100%;
		border-radius: 5px;
		object-fit: cover;
		background-color: #ccc;
	}

	.main>.datail>div:first-child>div:last-child {
		flex: 1;
		height: 100px;
		line-height: 80px;
	}

	.main>.datail>div:last-child {
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: center;
		height: 300px;
		padding: 10px;
		background-color:#eeeeee50;
		color: #ccc;
		overflow-y: auto;
	}
	/* 아래의 모든 코드는 영역::코드로 사용 */
	.main>.datail>div:last-child::-webkit-scrollbar {
	    width: 10px;  /* 스크롤바의 너비 */
	}
	
	.main>.datail>div:last-child::-webkit-scrollbar-thumb {
	    height: 30%; /* 스크롤바의 길이 */
	    background: var(--lightNav); /* 스크롤바의 색상 */
	    
	    border-radius: 10px;
	}
	
	.main>.datail>div:last-child::-webkit-scrollbar-track {
	    background: var(--darkNav);  /*스크롤바 뒷 배경 색상*/
	}

	.main>.datail>div:last-child div {
		padding: 0;
	}
}

/* 모바일 */
@media all and (max-width: 767px) {
	/* #wolfLogo {
		display: none;
	} */
	.main {
		display: block;
		height: 90%;
		margin-top: 10%;
	}
	.main>.datail {
		font-size: 1rem;
		padding: 30px;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.main>.datail>div {
		display: flex;
		flex-direction: column;
		border-radius: 5px;
		flex: 1;
		height: 100%;
		width: 100%;
	}

	.main>.datail>div:first-child {
		border: 1px solid #eeeeee32;;
		display: flex;
		flex-direction: column;
		flex: 1;
	}

	.main>.datail>div:first-child>div:first-child {
		padding: 20px;
		flex: 1;
		width: 100%;
		height: 85%;
	}

	.main>.datail>div:first-child>div:first-child img {
		width: 100%;
		height: 100%;
		border-radius: 5px;
		object-fit: cover;
		background-color: #ccc;
	}
	.main>.datail>div:first-child> form{height: 15%;display: flex;justify-content: center;}
	.main>.datail>div:first-child> form button {height: 100%;}

	.main>.datail>div:last-child {
		background-color: #eeeeee50;
		flex: 1;
		display: flex;
		flex-direction: column;
		color: #ccc;
		text-align: left;
		margin-top: 5px;
		height: 300px;
		overflow-y: auto;
	}
	/* 아래의 모든 코드는 영역::코드로 사용 */
	.main>.datail>div:last-child::-webkit-scrollbar {
	    width: 10px;  /* 스크롤바의 너비 */
	}
	
	.main>.datail>div:last-child::-webkit-scrollbar-thumb {
	    height: 30%; /* 스크롤바의 길이 */
	    background: var(--lightNav); /* 스크롤바의 색상 */
	    
	    border-radius: 10px;
	}
	
	.main>.datail>div:last-child::-webkit-scrollbar-track {
	    background: var(--darkNav);  /*스크롤바 뒷 배경 색상*/
	}

}