/* main */
.main {

	height: 90%; width: 100%;
	z-index: 1;

	/* 폰트 */
	font-family: 'Noto Sans KR', sans-serif;
	font-family: 'Luckiest Guy', cursive;
}

/* gameList */
.list-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.list-container>div {
	display: flex;
	justify-content: center;
}

.list-container .card {

	overflow: hidden;
	cursor: pointer;
	height: 300px;
	border: 8px solid rgba(255, 255, 255, 0.41);
	transition: border-color 0.1s ease, color 0.4s ease-in-out;
}
.list-container .card:hover{
	border: 8px solid  var(--lightNav);
}

/* 이미지가 카드를 넘어가면 잘림 */
.list-container .card>div {
	height: 200px;
	border: 1px solid rgba(255, 255, 255, 0.41);;
}

.list-container .card:hover {
	transform: rotate(3deg);
}

/* 이미지가 가로로 꽉 차게 설정 */
.list-container .card>div:first-child img {
	height: 100%;
	object-fit: cover;
}

.list-container .card>div:last-child {
	height: 100px;
	background-color: #f9a620;
	height: 100px;
}

/* .card>form button {
	height: 50px;
} */
.list-container .card>div:last-child button {
	height: 50px;
	width: 100%;
	font-size: 1rem;
	/* border-radius:10px; */
	background-color: var(--bg-dark);
	border: 5px solid transparent;
	color: var(--color-white);
	text-align: center;
	text-decoration: none;
	display: inline-block;
	letter-spacing: 1.5px;
}


.list-container .card>div:last-child div {
	height: 50px;
	line-height: 50px;
}

/* gameList */

/* gameDetail */
.datail {
	padding: 50px 38px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.datail>div {
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	flex: 1;
	height: 600px;
}

.datail>div:first-child {
	height: 600px;
	border: 1px solid #eeeeee32;
}

.datail>div:first-child>div {
	padding: 30px;
	height: 500px;
}

.datail>div:first-child>div img {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	object-fit: cover;
	background-color: #eeeeee80;
}

.datail>div:first-child>form {
	height: 100px;
}

.datail>div:first-child>form>button {
	height: 50px;
	width: 50%;
	font-size: 1rem;
	letter-spacing: 1px;
	border-radius: 10px;
	background-color: var(--color-nav-bg);
	border: 5px solid transparent;
	color: var(--color-white);
	text-align: center;
	text-decoration: none;
	display: inline-block;
	transition: border-color 0.2s ease, color 0.4s ease-in-out;
	
	/* 폰트 */
	font-family: 'Luckiest Guy', cursive;
}

.datail>div:first-child>form>button:hover {
	border-color: white;

}

.datail>div:last-child {
	margin: 5%;
	height: 600px;
	background-color: #eeeeee80;
	color: black;
	font-weight: 500;
	letter-spacing: 1px;
	text-align: left;
	padding: 10px;
	display: flex;flex-direction: column;
	overflow: hidden;
	
	/* 폰트 */
	font-family: 'Noto Sans KR', sans-serif;
	font-family: 'Luckiest Guy', cursive;
}

.datail>div:last-child .title{flex: 2;display: flex;justify-content: center;align-items: center; background-color: var(--darkNav);font-size: 2rem;color: white;}
.datail>div:last-child .contents{flex: 8;display: flex;flex-direction: column;background-color: white; padding: 5%;}

/* gameDetail */

/* game */
.gameView {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.gameview-container {
	height: 700px;
	width: 1000px;
	display: flex;
	flex-direction: column;
}

canvas {
	margin: 0 auto;
}

.gameview-container .game-inner #game_play_form canvas {
	border: 5px solid #eeeeee32;
	border-radius: 5px;
}

.gameview-container .game-inner {
	height: 500px;
}

.gameview-container .game-inner .game {
	width: 1000px;
	height: 500px;
	display: flex;
	align-items: center;
}

.gameview-container .game-inner .score {
	margin: 0 auto;
}

.gameview-container .ranking {
	height: 200px; width: 1000px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.gameview-container .ranking div:first-child {
	height: 50px;
}

.gameview-container .ranking div:last-child {
	height: 150px;
	width: 100%;
	display: flex;
	flex-direction: row;
	background-color: var(--darkNav);
	border-radius: 5px;
}

.gameview-container .ranking div:last-child>div {
	height: 150px;
	width: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
	color: white;
	text-align: center;
}

.gameview-container .ranking div:last-child>div>div {
	height: 150px;
	width: 100%;
	text-align: center;
}

.gameview-container .ranking div:last-child>div>div:nth-child(1) {
	height: 80px;
}

.gameview-container .ranking div:last-child>div>div:nth-child(1) img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.gameview-container .ranking div:last-child>div>div:nth-child(2) {
	height: 35px;
}

.gameview-container .ranking div:last-child>div>div:nth-child(3) {
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.gameview-container .ranking div:last-child>div>div:nth-child(4) {
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #eeeeee50;
}
/* game */

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width: 1023px) {
	body {
		overflow-y: auto;
		position: relative;
		z-index: 0;
	}

	body::-webkit-scrollbar {
		width: 1vw;
	}

	body::-webkit-scrollbar-thumb {
		background-color: hsla(0, 0%, 42%, 0.49);
		border-radius: 100px;
	}

	.sun {
		display: none;
	}

	/* 별 숨기기 */
	.bgs {
		display: none;
	}

	/* gameList */
	.list-container {
		margin-top: 5%
	}

	.list-container .card:last-child {
		margin-bottom: 5%;
	}

	/* gameList */

	/* gameDetail */
	.datail {
		padding: 20px;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.datail>div {
		display: flex;
		flex-direction: column;
		border-radius: 5px;
		flex: 1;
		height: 300px;
		width: 500px;
	}

	.datail>div:first-child {
		border: 1px solid #eeeeee32;
		display: flex;
		flex-direction: column;
		height: 300px;
	}

	.datail>div:first-child>div:first-child {
		padding: 20px;
		flex: 1;
		height: 300px;
	}

	.datail>div:first-child>div:first-child img {
		width: 100%;
		height: 100%;
		border-radius: 5px;
		object-fit: cover;
		background-color: #ccc;
	}

	.datail>div:first-child>div:last-child {
		flex: 1;
		height: 100px;
		line-height: 80px;
	}

	.datail>div:last-child {
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: center;
		height: 300px;
		padding: 10px;
		background-color: #eeeeee50;
		color: #ccc;
		overflow-y: auto;
	}

	/* 아래의 모든 코드는 영역::코드로 사용 */
	.datail>div:last-child::-webkit-scrollbar {
		width: 10px;
		/* 스크롤바의 너비 */
	}

	.datail>div:last-child::-webkit-scrollbar-thumb {
		height: 30%;
		/* 스크롤바의 길이 */
		background: var(--lightNav);
		/* 스크롤바의 색상 */

		border-radius: 10px;
	}

	.datail>div:last-child::-webkit-scrollbar-track {
		background: var(--darkNav);
		/*스크롤바 뒷 배경 색상*/
	}

	.datail>div:last-child div {
		padding: 0;
	}

	/* gameDetail */
}

/* 모바일 */
@media all and (max-width: 767px) {

	/* 공통 */
	.main {
		display: block;
		height: 90%;
		margin-top: 10%;
	}

	body {
		overflow-y: auto;
		position: relative;
		z-index: 1;
	}

	body::-webkit-scrollbar {
		width: 1vw;
	}

	body::-webkit-scrollbar-thumb {
		background-color: hsla(0, 0%, 42%, 0.49);
		border-radius: 100px;
	}

	.sun {
		display: none;
	}

	.bgs {
		display: none;
	}


	/* gameList */
	.list-container {
		margin: 5% 0;
	}

	.list-container {
		padding: 20px;
	}

	/* gameList */

	/* gameDetail */
	.datail {
		font-size: 1rem;
		padding: 30px;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.datail>div {
		display: flex;
		flex-direction: column;
		border-radius: 5px;
		flex: 1;
		height: 100%;
		width: 100%;
	}

	.datail>div:first-child {
		border: 1px solid #eeeeee32;
		;
		display: flex;
		flex-direction: column;
		flex: 1;
	}

	.datail>div:first-child>div:first-child {
		padding: 20px;
		flex: 1;
		width: 100%;
		height: 85%;
	}

	.datail>div:first-child>div:first-child img {
		width: 100%;
		height: 100%;
		border-radius: 5px;
		object-fit: cover;
		background-color: #ccc;
	}

	.datail>div:first-child>form {
		height: 15%;
		display: flex;
		justify-content: center;
	}

	.datail>div:first-child>form button {
		height: 100%;
	}

	.datail>div:last-child {
		background-color: #eeeeee50;
		flex: 1;
		display: flex;
		flex-direction: column;
		color: #ccc;
		text-align: left;
		margin-top: 5px;
		height: 300px;
		overflow-y: auto;
	}

	/* 아래의 모든 코드는 영역::코드로 사용 */
	.datail>div:last-child::-webkit-scrollbar {
		width: 10px;
		/* 스크롤바의 너비 */
	}

	.datail>div:last-child::-webkit-scrollbar-thumb {
		height: 30%;
		/* 스크롤바의 길이 */
		background: var(--lightNav);
		/* 스크롤바의 색상 */

		border-radius: 10px;
	}

	.datail>div:last-child::-webkit-scrollbar-track {
		background: var(--darkNav);
		/*스크롤바 뒷 배경 색상*/
	}

	/* gameDetail */
}