@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Noto+Sans+KR:wght@100..900&display=swap');

:root {
	--bg-light: #ffd449;
	--bg-dark: #14213D;
	--bg-transparent: transparent;

	--color-white: #eeeeee;
	--color-black: #14213D;
	--bg-nav: #f9a620;
	--color-nav-icon: #14213D;
	--color-nav-bg: #f9a620;
	font-size: 16px;
}

html,
body {
	height: 100%;
	margin: 0;
	background-color: var(--bg-dark);
	color: var(--bg-black);
	color: var(--color-black);
	overflow: hidden;
	/* 폰트 */
	font-family: "Noto Sans KR", sans-serif;
	font-family: "Luckiest Guy", cursive;
}

body.light {
	background-color: var(--bg-light);
	color: var(--bg-black);
}

/* 모드 변경시 부드럽게 넘어가는 효과 */
.sun,
.navi {
	transition: background-color 0.5s ease, box-shadow 0.5s ease;
}

/* img */
.img_bg {
	position: absolute;
	top: 0%;
	left: 0;
	width: 100%;
	object-fit: cover;
}

.bgs {
	animation: bg 1s ease-in Infinite Alternate;
	transition: all ease-in 0.2s;
	width: 50px;
}

.bgs:nth-child(1) {
	top: 20%;
	background-color: #eee;
	left: 80%;
}

.bgs:nth-child(2) {
	top: 20%;
	left: 80%;
	width: 40px;
}

.bgs:nth-child(3) {
	top: 15%;
	left: 20%;
}

.bgs:nth-child(4) {
	top: 20%;
	left: 40%;
	width: 30px;
}

.bgs:nth-child(5) {
	top: 12%;
	left: 50%;
}

.bgs:nth-child(6) {
	top: 12%;
	left: 80%;
	width: 20px;
}

@keyframes bg {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.container-fluid,
.container,
.main {
	height: 100%;
}

/* 메뉴 */
.navi {
	z-index: 5;
	height: 10%;
	display: flex;
	align-items: center;
	background-color: var(--bg-nav);
	padding: 0 3%;
	font-size: 20px;
	color: var(--color-white);
	text-shadow: 1px 1px 1px gray;
	letter-spacing: 1px;

	border-radius: 40px 80px / 80px 40px;
}

.navi i {
	font-size: 22px;
}

.navi>div {
	margin-top: 0;
	height: 100%;
}

/* 메뉴 */
.navi>div:nth-child(1),
.navi>div:nth-child(3) {
	width: 30%;
}

.navi>div:nth-child(2) {
	width: 40%;
}

.navi>div:nth-child(1)>div {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: left;
}

.navi>div:nth-child(2) #wolfLogo {
	width: 100%;
	height: 100%;
}

.navi>div:nth-child(2) #wolfLogo img {
	width: initial;
	height: 130%;
	object-fit: contain;
}

.navi>div:nth-child(3)>div {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: right;
}

/* 메뉴 버튼 */
.naviBtn {
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.naviBtn:hover {
	opacity: 0.5;
}

/* -- main과 동일 -- */





/* main */
.main {
	height: 90%;
}

.main .row {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center
}

.main .row>div {
	display: flex;
	justify-content: center;
}

.card {
	height: 300px;
}

/* 이미지가 카드를 넘어가면 잘림 */
.card>div {
	height: 200px;
}

/* 이미지가 가로로 꽉 차게 설정 */
.card>div img {
	height: 100%;
	object-fit: cover;
}
.card>form{height: 100px;background-color: #f9a620; height: 100px;}
.card>form button {height: 50px;}
.card>form div {height: 50px; line-height: 50px;}
/* 이미지가 가로로 꽉 차게 설정 */
.card>div:last-child {
	height: 100px;
}

@media (max-width: 1000px) {
	#wolfLogo {
		display: none;
	}

	body {
		overflow-y: scroll;
	}

	.main {
		padding-top: 3%;
	}
}


/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width: 1023px){}

/* 모바일 */
@media all and (max-width: 767px) {
	.main {height: 90%;}
	.container-fluid {
		padding: 0;
	}

	.navi {
		z-index: 5;
		height: 10%;
		display: flex;
		align-items: center;
		background-color: var(--bg-nav);
		font-size: 1rem;
		color: var(--color-white);
		text-shadow: 1px 1px 1px gray;
		letter-spacing: 1px;

		border-radius: 0;
	}

	.navi i {
		font-size: 1rem;
	}

	.navi>div {
		margin-top: 0;
		height: 100%;
	}
}


/* -- main과 동일 -- */
/* 라이트 다크 mode */
#mode {
	cursor: pointer;
	position: absolute;
	bottom: 5%;
	right: 5%;
	background-color: var(--bg-dark);
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	transition: all ease-in 0.2s;
	animation: ball 1s ease-in Infinite Alternate;
	border: double 1px rgba(255, 255, 255, 0.46);
}

@keyframes ball {
	0% {
		bottom: 5%;
	}

	95% {
		width: 50px;
	}

	to {
		bottom: 8%;
		width: 50px;
		height: 60px
	}
}

/* 모드 전환 버튼 호버 시 투명도 조정 */
#mode:hover {
	opacity: 0.8;
}

/* 모드 전환 버튼 아이콘 스타일 */
#mode i {
	font-size: 30px;
	color: var(--color-nav-bg);
}