@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Noto+Sans+KR:wght@100..900&display=swap');
    :root {
        --bg-light: #F2F1EB;
        --bg-dark: #14213D;
        --bg-transparent: transparent;

        --color-white: #eeeeee;
        --color-black: #14213d;
        --bg-nav: #FCA311;
        --color-nav-icon: #FCA311;
        --color-nav-bg: #14213d;
        font-size: 16px;
    }
    html,
    body {
        height: 100%;
        margin: 0;
        background-color: var(--bg-dark);
        color: var(--bg-black);
        color: var(--color-black);
        overflow: hidden;

        font-family: "Noto Sans KR", sans-serif;
    }
    body.light {
        background-color: var(--bg-light);
        color: var(--bg-black);
    }
    .one {
        position: absolute;
        width: 120%;
        height: 100%;
        background-color: #FCA311;
        border-radius: 50%;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
    }
    /* div {
        border: 1px solid #ffffff;
    } */

    .container-fluid,
    .container,
    .main {
        height: 100%;
    }

    .container {
        /* background-color: var(--bg-nav); */
    }

    .main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        /* background-color: red; */
    }

    .list {
        flex-grow: 1;
        /* background-color: yellow; */
    }

    .navi {
        z-index: 1;
        height: 10%;
        display: flex;
        align-items: center;
        background-color: var(--bg-nav);

        font-family: "Luckiest Guy", cursive;
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 2px;
        font-style: normal;
    }

    /* 컨텐츠 */
    #contents {
        height: 30%;
        z-index: 10;
    }

    /* 메인 */
    .main {
        height: 60%;
        background-color: yellow;
    }

    .item {
        /* background-color: gainsboro; */
        position: relative;
    }

    .item > .card {
        position: absolute;
        border-radius: 5%;
        background-color: white;
        border-radius: 40px;
        z-index: 1;
    }
    .item > .card img{width: 100%;height: 100%;object-fit: cover; border: 1px solid wheat;border-radius: 40px;}

    .item:nth-child(1)>div {
        width: 110%;
        height: 90%;
        left: -5%;
        top: -20%;
    }

    .item:nth-child(2)>div {
        width: 110%;
        height: 90%;
        left: 0%;
        top: -10%;
    }

    .item:nth-child(3)>div {
        width: 110%;
        height: 90%;
        right: -8%;
        top: -0%;
        z-index: 5;
    }

    .item:nth-child(4)>div {
        width: 110%;
        height: 90%;
        right: 0%;
        top: -10%;
        z-index: 3;
    }

    .item:nth-child(5)>div {
        width: 110%;
        height: 90%;
        right: -5%;
        top: -20%;
    }


    /* .moon {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 50%;
        top: -20px;
    } */

    @media (max-width: 1000px) {
        .list {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            justify-content: center;
            align-items: center;
            /* background-color: white; */
        }
        .item {
            width: calc(20% - 10px); /* 아이템의 너비를 20%로 설정 */
            height: 50%; /* 아이템 높이 조정 */
        }

        .item > .card {
            width: 100%; 
            height: 100%;
        }
        
    }


    /* 라이트 다크 mode */
    #mode {
        cursor: pointer;
        position: absolute;
        bottom: 5%;
        right: 5%;
        background-color:var(--color-nav-bg);
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: all ease-in 0.2s;
        animation:ball 1s ease-in Infinite Alternate;
    }
    @keyframes ball {
        0% {
            bottom:5%;
        }
        95% {
            width: 50px;
        }
        to {
            bottom:8%;
            width:50px;
            height:60px
        } 
    }
    /* 모드 전환 버튼 호버 시 투명도 조정 */
    #mode:hover {
        opacity: 0.8;
    }

    /* 모드 전환 버튼 아이콘 스타일 */
    #mode i {
        font-size: 30px;
        color: var(--color-nav-icon);
    }


    /* 이미지 */
    .img{position: absolute; width: 20%}
    .img01 {bottom: 0; left: 15%; width: 10%;}
    .img02 {bottom: 0; right: 0;}
    .img03 {top: 10%; left: 20%;}
    .img04 {bottom: 0;left: 3%; width: 10%;}
    .img05 {right: 30%; bottom: 0; width: 10%;}
    .img06 {right: 25%; width: 10%; top: 15%;}
    .img07 {left: 5%; width: 10%; top: 45%; transform: rotate(-15deg);}
    .img08 {left: 0; transform: rotate(15deg);}
    .img09 {right: 0;}